html, body {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body{
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.pg-title{
  margin-top: 20px;
  text-align: center;
  font-weight: 100;
  line-height: 1.5;
}

.blurb{
  border: 1px solid #000;
  padding-top: 30px;
  padding-bottom:  30px;   
  text-align: center;
  min-width: 100%;
}

.contact-info{
  text-align: center;
  font-color: #204156
}

.contact-info li{
  margin: 5px;
  padding-right: 20px;
  list-style-type: none;
  display: inline;
}

.contact-info a{
  height: 10px;
  color: #000000;
  text-decoration: none;
}

p {
  max-width: 90%;
  min-width: 500px;
}

.main {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  min-width: 90%;
  max-width: 100%;
}

.main h2{
  font-size: 32px;
  text-align: left
  line-height: .75;
}

.main p{
  min-width: 500px;
  text-align: left;
  line-height: 1.2;
}

nav {
  background-color: #eed2ee;
  text-align: center;
}

nav li{
  margin: 5px;
  padding-right: 20px;
  list-style-type: none;
  display: inline;
}

nav a{
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}
