#Acknowledgements: From codecademy make a website lesson
html, body {
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 48px;
}

p {
  max-width: 65%;
  min-width: 500px;
}

h2 {
  text-align: left;
}

div {
  padding-right: 30px;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
}

.main {
  padding-left: 30px;
  min-width: 75%;
}

.nav {
  background-color: #00FFFF;
  max-width: 25%;
  min-width: 100%;
  flex: 1;
}

.nav h1 {
  padding-left: 20px;
}
