#Acknowledgements: From codecademy make a website lesson
html, body {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  margin: 0;
  line-height: 1.5;
  width: 100%;
  min-height: 100%;
}

body{
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.pg-title{
  text-align:center;
  font-weight: 100;
}

.mini-bio{
  border: 1px solid #000;
  text-align: center;
  min-width: 100%;
}

p {
  max-width: 85%;
  min-width: 500px;
}

h2 {
  font-size: 32px;
  text-align: left;
}

div {
  padding-right: 30px;
  height: 100%;
  width: 100%;
}

.gallery{
  display: flex;
  justify-content:center;
}

.main {
  background-image: "Background_1.jpg";
  background-position: center top;
  bakground-size: cover;
  padding-left: 30px;
  min-width: 75%;
}

nav {
  background-color: #adf066;
}

nav li{
  margin: 5px;
  padding: 0 10px;
}

nav ul{
  display: inline;
}

nav a{
  height: 60px;
  line-height: 60px;
}
